<section id="hero" style="background-color: rgb(231, 245, 231);">
    
    <div class="" >
        
           <h2><marquee>Welcome to hospital website</marquee></h2>
            <div>
                <img src="https://thumbs.dreamstime.com/z/hospital-building-modern-parking-lot-59693686.jpg" alt="" width="1000px" height="250px">
            </div>
                <div>
                    <h5>About the Hospital</h5>
                    <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process. The modern hospital also often serves as a centre for investigation and for teaching.</p>
                </div>
    </div>
</section>